* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    margin: 0;
    width: 900px;
    text-align: center;
    width: center;
    margin-right: center;
    font-size: 0px;
    display: inline-block;
 }
 
     

.article {
    display: inline-block;
    float:  left;
    margin: 0;
    }
body {
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    font-size: 14px;
    background-color: #edf4bc;
    text-align: center;
   }
         main {
        padding-top: 0px;
        padding-bottom: 72px;
}
.header{
      text-align: center;
    background-color: #dceeed;
}

.list-menu-item:hover {
    color: rgb(3, 169, 244);
}
.list-menu {
    text-align: center;
    margin: 0 auto;
   }
   .list-menu-item {
   display: inline-block;
text-transform: uppercase;
    padding-top: 77px;
    padding-bottom: 105px;
    margin-right: 60px;
    font-size: 14px;
     }
     
img {
    display:inline-block;
    max-width: 100%;
    height: auto;
    margin: 0px;
}
    .list-name {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .text {
        line-height: 24px;
    }
    .foto-name {
        font-family: "Ubuntu", sans-serif;
        color:#cbc6bc;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin-top: 32px;
        margin-bottom: 30px;
    }
    .lifestyle-list {
                text-align:justify;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 140px;
    }
     .lifestyle-list-item {
        display: inline-block;
        margin-right: auto;
        text-align: left;
        width: 420px;
        font-size: 14px;
    }
    .lifestyle-list-item:nth-child(2n+1){
        margin-right: 60px;
    }
   
   
   .menu-item {
    display: block;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    font-size: 20px;
    width: 164px;
    height: 60px;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    background-color: #ee6565;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
   }
.foto-name {
    text-align:left;
    margin-bottom:  35px;

}