* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }
.container {
    margin: 0px auto;
    width: 900px;
     
 }
 *::before,
*::after{
    box-sizing: inherit;
}
.section1   {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 0;
}

.article {
    display: inline-block;
    float:  left;
    margin: 0;
    }
body {
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    font-size: 14px;
    background-color: #f6f8e5;
      }
         main {
        padding-top: 0px;
        padding-bottom: 72px;
}
.header{
      text-align: center;
    background-color: #dceeed;
}

.list-menu-item a:hover {
    color: rgb(3, 244, 35);
     }

.list-menu {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
   }
   .list-menu-item {
   display: inline-block;
text-transform: uppercase;
    padding-top: 77px;
    padding-bottom: 105px;
    margin-right: 80px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(98, 98, 98);
         }
     .list-menu-item:last-child {
        margin-right: 0px;
    }
     
img {
    display:inline-block;
    max-width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 32px;
}
    .list-name {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .text {
        line-height: 24px;
    }
    .foto-name {
        font-family: "Ubuntu", sans-serif;
        color:#cbc6bc;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
               margin-bottom: 30px;
    }
    .lifestyle-list {
                text-align:justify;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 140px;
    }
     .lifestyle-list-item {
        display: inline-block;
        margin-right: auto;
        text-align: left;
        width: 420px;
        font-size: 14px;
    }
    .lifestyle-list-item:nth-child(2n+1){
        margin-right: 60px;
    }
   
   
   .menu-item {
    display: block;
    font-family: "Playfair Display", serif;
    color: rgb(98, 98, 98);
    font-size: 20px;
    width: 164px;
    height: 60px;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    background-color: #ee6565;
    text-align: center;
    margin: auto;
      }
.foto-name {
    text-align:left;
    margin-bottom:  35px;

}
.menu-item:hover {
cursor: pointer;
color: #03a9f4;
background-color: greenyellow;
}