.services {
    margin: 0 auto;
    
    &_section {
    text-align: center;
    margin: 0;
    display: block;
}

    &__title {
        font-family: $third-font;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #333333;
        text-align: center;
        margin-bottom: 1.375rem;
        display: block;
    }

    &__subtitle {
        font-family: $main-font;
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 1.875rem;
        color: #333333;
        text-align: center;

        &:after {
            display: block;
            content: "";
            width: 3.75rem;
            height: 0.1875rem;
            background-color: $main-color;
            margin: 0 auto;
            margin-top: 2.625rem;
            margin-bottom: 2.875rem;
        }
    }

    &__list {
        display: flex;
        width: 75rem;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;

        &-item {
            width: 23.875rem;
            margin-bottom: 6.375rem;
            background-repeat: no-repeat;
            background-position: left;
            background-position-x: 1.25rem;
                
            .Photography_title {
                background-image: url(../icons/service1.png);
              
            }
            
            .web-design_title {
                background-image: url(../img/icons/service2.png);
            }
            
            .creativity_title{
                background-image: url(../img/icons/service3.png);
            }
            
            .seo_title {
                background-image: url(../img/icons/service4.png);
            }
            
            .css-html_title {
                background-image: url(../img/icons/service5.png);
            }
            
            .digital_title {
                background-image: url(../img/icons/service6.png);
            }
            
            &_title {
                font-family: $main-font;
                font-size: 0.875rem;
                line-height: 0.875rem;
                text-transform: uppercase;
                color: #333333;
                margin-bottom: 0.9375rem;
                padding-left: 5.125rem;
            }

            &_description {
                font-family: $second-font;
                font-size: 0.9375rem;
                line-height: 1.5rem;
                margin-left: 5.125rem;
            }
        }
    }
}